<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Красивые выпадающие списки для сайта | Демо 4</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-select.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-skin-slide.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dropdown.css') }}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
      ""
      {% for o in data %}
          ,"{{ o.name }}"
      {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
    <body class="color-4">
{#        <div class="ui-widget">#}
{#          #}
{#        </div>#}
		<div class="container">
            <label for="tags">Tags: </label>
          <input id="tags">
			<header class="codrops-header">
				<h1>Красивый выпадающий список</h1>
			</header>
			<section>
				<label class="select-label" >Тип поездки</label>
				<select size="10" class="cs-select cs-skin-slide">
{#					<option value="sightseeing" data-class="icon-camera">Посмотреть виды</option>#}
{#					<option value="business" data-class="icon-money">Бизнес</option>#}
{#					<option value="honeymoon" data-class="icon-heart">Медовый месяц</option>#}
{#					<option value="food" data-class="icon-food">Покушать</option>#}
{#					<option value="shopping" data-class="icon-shirt">За покупками</option>#}
                    {% for o in data %}
                        <option value="{{ o.name }}">{{ o.name }}</option>
                    {% endfor %}
				</select>
			</section>

		<script src="{{ url_for('static',filename='js/classie.js') }}"></script>
		<script src="{{ url_for('static',filename='js/selectFx.js') }}"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
					new SelectFx(el);
				} );
			})();
		</script>
        </div>
    </body>
</html>