<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Выбор станции</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/demo.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-select.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-skin-slide.css') }}" />
		<!--[if IE]>
{#  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>#}
		<![endif]-->
</head>

<body class="color-4">
    <div class="container">
    <header class="codrops-header">
        <h1>Красивый выпадающий список</h1>
    </header>
    <section>
        <label class="select-label" >Станция</label>
        <form method="POST">
            <input name="station" width="1200px" list="stations" placeholder="Введите название станции...">
            <datalist id="stations">
                {% for o in data %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
            </datalist>
            <button type="submit">Выбрать</button>
        </form>

    </section>

    </div>
</body>
</html>