<!DOCTYPE html>
<html>
<head>
    <title>Выбор достопримечательности</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0d610260-8ca6-4e29-ad3d-692a2c27bf2d" type="text/javascript"></script>
	<style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
{#    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>#}
</head>
<body>
<div id="map"></div>

<script src="{{ url_for('static',filename='js/mapbasics.js') }}" type="text/javascript"></script>
</body>
</html>
